.sphere {
  // Styles for the .sphere container
  max-width: 400px; /* Set your desired maximum width */
  max-height: 400px; /* Set your desired maximum height */
  margin: 0 auto; /* Center the container */
  display: inline;

  .generated-phrase {
    top: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(2),
    &:nth-child(3) {
      top: 10%;
    }
  }

  canvas {
    // Styles for all <canvas> elements directly inside .sphere
    display: none !important; // Hide all <canvas> elements

    &:first-child {
      display: block !important; // Display only the first <canvas> element
    }
  }
}

@media (min-width: 1280px) {
  canvas {
    width: 1250px !important;
    max-height: 555px !important;
  }
}
